.IssuesActionBar {
    z-index: 999;
    background-color: rgb(7,71,166);
    height: 100%;
    width: 64px;
    transition: width 0.5s;
    position: relative;
    &:hover {
        width: 200px;
        box-shadow: rgba(0,0,0,.6%) 0px 0px 50px 0px;
        & .ActionText {
            visibility: visible;
            opacity: 1;
        }
    }  
}

.JiraIcon {
    color:white;
    font-size: 28px;
    padding: 10px;
    cursor: pointer;
    margin: 20px 0 10px 8px;
}

.ActionWrapper {
    display: flex;
    align-items: center;
    padding-left: 18px;
    position: relative;
    height: 42px;
    line-height: 42px;
    cursor: pointer;
    &:hover {     
        background: rgba(255, 255, 255, 0.1);
    }
}

.ActionIcon {
    color: white;
    font-size: 22px;
}

.ActionText {
    visibility: hidden;
    font-size: 12px;
    color: #FFF;
    text-transform: uppercase;
    word-wrap: normal;
    margin-left: 20px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-in;
}

.About {
    position: absolute;
    bottom: 20px;
    width: 100%;
}